@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --p: 0.49 0.29 281.1;
  --s: 0.74 0.12 263.1;
  --su: 0.72 0.16 159.1;
  --er: 0.74 0.16 21.6;
}

body {
  /* background-color: #eff3f8; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-backdrop .modal:not(dialog:not(.modal-open)),
.modal-backdrop .modal::backdrop {
  background-color: transparent;
}

.modal-backdrop .modal-open .modal-box,
.modal-backdrop .modal-toggle:checked + .modal .modal-box,
.modal-backdrop .modal:target .modal-box,
.modal-backdrop .modal[open] .modal-box {
  box-shadow: none;
  border-width: 1px;
}
